<script setup>
defineProps({
  msg: {
    type: String,
    required: true
  },
	clickHandler: {
		type: Function,
		required: true
	}
})
</script>

<template>
	<button @click="clickHandler()">
		{{ msg }}
	</button>
</template>

<style>

</style>