<script setup>
import axios from 'axios';
import { ref } from 'vue';

defineProps({
  isOpen: {
    type: Boolean,
    required: true,
  },
});

const emits = defineEmits(['closeForm']);
const email = ref("");
const password = ref("");

async function login(reqEmail, reqPassword) {
	try {
		const response = await axios.post("http://127.0.0.1:8000/login", {
      "email": reqEmail,
      "password": reqPassword,
		})
    emits('closeForm');
    email.value = "";
    password.value = "";
	} catch (error) {
		alert(error);		
	}
};

</script>

<template>
  <div v-if="isOpen" class="form" @click="emits('closeForm')">
    <div class="container" @click.stop>
      <h1>Login</h1>
      <input type="text" id="email" v-model="email">
      <input type="password" id="password" v-model="password">
      <button @click="login(email, password)">login</button>
    </div>
  </div>
</template>

<style scoped> 
.form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
}
</style>