<script setup>
import { ref } from 'vue'
import Button from './Button.vue'
import LoginForm from './LoginForm.vue'

const isOpen = ref(false)

function openForm() {
  isOpen.value = true
}

function closeForm() {
  isOpen.value = false
}
</script>

<template>
	<nav>
		<div>logo</div>
		<div>robert + roma streaming service</div>
		<Button msg="Login" :clickHandler="openForm" />
		<LoginForm :isOpen="isOpen" @closeForm="closeForm"  />
	</nav>
</template>

<style scoped>
nav {
	width: 100%;
	background-color: #333;
	padding: 15px 45px;
	font-size: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
</style>
