<script setup>
import HelloWorld from './components/HelloWorld.vue'
import Navbar from './components/Navbar.vue'
</script>

<template>

  <Navbar />

  <header>
    <div>
      <HelloWorld msg="You did it!" />
    </div>
  </header>

</template>

<style scoped>

</style>
